<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Каталог PRIN</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
    window.addEventListener("beforeunload", function () {
        localStorage.setItem("scrollY", window.scrollY);
    });

    window.addEventListener("load", function () {
        const scrollY = localStorage.getItem("scrollY");
        if (scrollY !== null) {
            window.scrollTo(0, parseInt(scrollY));
            localStorage.removeItem("scrollY");
        }
    });
</script>
</head>
<body>
<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <a href="/" class="logo">
            <img src="/static/images/logo.png" alt="Лого">
            </a>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/pvzadresa">Адреса ПВЗ</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/profile">Профиль</a></li>
                <li><a href="/logout">Выйти</a></li>
            {% else %}
                <li><a href="/login">Войти</a></li>
                <li><a href="/signup">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="catalogtovarov">
    <h1>Каталог товаров</h1>
</div>
{% if products %}
    <div class="product-grid">
        {% for product in products %}
            <a href="{{ url_for('product_page', articul=product.articul) }}" class="product-card-link">
                <div class="product-card">
                    <img src="{{ product.image_url or '/static/images/placeholder.png' }}" alt="Фото товара">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.description }}</p>
                    <p>Цена: <strong>{{ product.price }} ₽</strong></p>
                    <p>Осталось: {{ product.stock_quantity }}</p>
                    <p><small>Артикул: {{ product.articul }}</small></p>
                    <p>Продавец: {{ product.seller_name }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
{% else %}
    <div class="no-products-message">
    <p>Товары не найдены.</p>
    </div>
{% endif %}
<div class="pagination">
      {% if page > 1 %}
        <a href="{{ url_for('catalog', page=page-1) }}">Предыдущая</a>
      {% endif %}

      <span>Страница {{ page }} из {{ total_pages }}</span>

      {% if page < total_pages %}
        <a href="{{ url_for('catalog', page=page+1) }}">Следующая</a>
      {% endif %}
</div>
<footer class="footer">
    <p class="copyright">PRIN - маркетплейс © марк "quadeck" аккумулятор 2025-2025.</p>
    <p class="disclaimer">Переходя сюда вы даете согласие что я списываю все деньги с вашей карты потому что сами согласились на аферту(аферу) и мне ваще пох😎😎😎</p>
</footer>
</body>
</html>