<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Выставить на продажу PRIN</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <script>
        function clearImage() {
            document.getElementById("image").value = "";
            document.getElementById("image-button").innerText = "Выберите файл";
            document.getElementById("delete-button").classList.remove("visible");
        }

        function updateFileName() {
            var fileInput = document.getElementById('image');
            var fileName = fileInput.files.length > 0 ? fileInput.files[0].name : 'Не выбран файл';
            document.getElementById('image-button').innerText = fileName;

            var deleteButton = document.getElementById("delete-button");
            if (fileInput.files.length > 0) {
                deleteButton.classList.add("visible");
            } else {
                deleteButton.classList.remove("visible");
            }
        }

        function validateForm() {
            var fileInput = document.getElementById("image");
            var errorMessage = document.getElementById("error-message");

            if (fileInput.files.length === 0) {
                errorMessage.style.display = "block";
                return false;
            }

            errorMessage.style.display = "none";
            return true;
        }
    </script>
</head>
<body>
<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="logo">
            <a href="/">
            <img src="/static/images/logo.png" alt="Лого">
            </a>
            </li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/pvzadresa">Адреса ПВЗ</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/profile">Личный кабинет</a></li>
                <li><a href="/logout">Выйти</a></li>
            {% else %}
                <li><a href="/login">Войти</a></li>
                <li><a href="/signup">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<main class="product-form-wrapper">
    <form action="/add_product" method="POST" class="product-form" enctype="multipart/form-data" onsubmit="return validateForm()">
        <input type="text" id="name" name="name" placeholder="Название" required>
        <textarea id="description" name="description" placeholder="Описание"></textarea>
        <style>
            .file-button {
                margin-bottom: 25px !important;
            }
        </style>
        <label for="image" class="file-button" id="image-button">Выберите фото</label>
        <input type="file" id="image" name="image" accept="image/*" onchange="updateFileName()">
        <button type="button" id="delete-button" class="delete-button" onclick="clearImage()">Удалить изображение</button>
        <input type="number" step="0.01" id="price" name="price" placeholder="Цена" required>
        <input type="number" id="stock_quantity" name="stock_quantity" placeholder="Количество" required>
        <button type="submit">Добавить</button>
        <div id="error-message">Ошибка: Пожалуйста, загрузите изображение товара.</div>
    </form>
</main>
<footer class="footer">
    <p class="copyright">PRIN - маркетплейс © марк "quadeck" аккумулятор 2025-2025.</p>
    <p class="disclaimer">Переходя сюда вы даете согласие что я списываю все деньги с вашей карты потому что сами согласились на аферту(аферу) и мне ваще пох😎😎😎</p>
</footer>
</body>
</html>