<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Интернет-магазин PRIN</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="wrapper">
<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="logo">
            <a href="/">
            <img src="/static/images/logo.png" alt="Лого">
            </a>
            </li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/pvzadresa">Адреса ПВЗ</a></li>

            {% if 'user' in session %}
                <li><a href="/profile">Личный кабинет</a></li>
                <li><a href="/logout">Выйти</a></li>
            {% else %}
                <li><a href="/login">Войти</a></li>
                <li><a href="/signup">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </nav>
</header>

<main class="main">
    <div class="actions">
        <a href="/catalog">
        <button class="action-btn">Выбрать товар</button>
        </a>
        <a href="/pickup">
        <button class="action-btn1">Забрать заказ</button>
        </a>
        <a href="/expose">
        <button class="action-btn2" >Выставить на продажу</button>
        </a>
        <a href="/links">
        <button class="action-btn3">Полезные ссылки</button>
        </a>
    </div>
</main>
</div>

<footer class="footer">
    <p class="copyright">PRIN - маркетплейс © марк "quadeck" аккумулятор 2025-2025.</p>
    <p class="disclaimer">Переходя сюда вы даете согласие что я списываю все деньги с вашей карты потому что сами согласились на аферту(аферу) и мне ваще пох😎😎😎</p>
</footer>
</body>
</html>