<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Войти PRIN</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="logo">
            <a href="/">
            <img src="/static/images/logo.png" alt="Лого">
            </a>
            </li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/pvzadresa">Адреса ПВЗ</a></li>

            {% if 'user' in session %}
                <li><a href="/profile">Личный кабинет</a></li>
                <li><a href="/logout">Выйти</a></li>
            {% else %}
                <li><a href="/login">Войти</a></li>
                <li><a href="/signup">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class='login-wrapper'>
     <form action="/login" method="post" autocomplete="off">
    <input type="text" id="username" name="username" placeholder="Введите логин" required autocomplete="off">
     <br>
    <input type="password" id="password" name="password" placeholder="Введите пароль" required autocomplete="off">
     <br>
            <div id="passwordError" class="error-message">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                 <p>{{ messages[0] }}</p>
                 {% endif %}
                 {% endwith %}
            </div>
     <br>
         <div class='loginbutton'>
    <button type="submit">Войти</button>
         </div>
    </form>
</div>
</body>
</html>