<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Войти PRIN</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <a href="/" class="logo">
            <img src="/static/images/logo.png" alt="Лого">
            </a>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/pvzadresa">Адреса ПВЗ</a></li>
            {% if current_user.is_authenticated %}
                <li><a href="/profile">Профиль</a></li>
                <li><a href="/logout">Выйти</a></li>
            {% else %}
                <li><a href="/login">Войти</a></li>
                <li><a href="/signup">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class='login-wrapper'>
     <form action="/login" method="post" autocomplete="off">
    <input type="text" id="username" name="username" placeholder="Введите логин" required autocomplete="off">
     <br>
    <input type="password" id="password" name="password" placeholder="Введите пароль" required autocomplete="off">
     <br>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <p class="message {{ category }}-message">{{ message }}</p>
                        {% if category == 'success' %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
     <br>
         <div class='loginbutton'>
    <button type="submit">Войти</button>
         </div>
    </form>
</div>
<footer class="footer">
    <p class="copyright">PRIN - маркетплейс © марк "quadeck" аккумулятор 2025-2025.</p>
    <p class="disclaimer">Переходя сюда вы даете согласие что я списываю все деньги с вашей карты потому что сами согласились на аферту(аферу) и мне ваще пох😎😎😎</p>
</footer>
</body>
</html>