<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>История заказов PRIN</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <header class="header">
        <nav class="nav">
            <ul class="nav-list">
                <a href="/" class="logo">
                    <img src="/static/images/logo.png" alt="Лого">
                </a>
                <li><a href="/contacts">Контакты</a></li>
                <li><a href="/pvzadresa">Адреса ПВЗ</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="/profile">Профиль</a></li>
                    <li><a href="/logout">Выйти</a></li>
                {% else %}
                    <li><a href="/login">Войти</a></li>
                    <li><a href="/signup">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>

    <main>
        <div class="order-history-container">
            <h1>История заказов</h1>
            {% if order_info %}
                {% for order_data in order_info %}
                    <div class="order">
                        <div class="order-header">
                            <h3>Заказ №{{ order_data['order']['order_number'] }}</h3>
                            <span class="order-status">Статус: Забрано из {{ order_data['order']['pickup_point'] }}</span>
                            <span class="order-date">Дата заказа: {{ order_data['order']['created_at'] }}</span>
                        </div>

                        <ul class="order-items">
                            {% for item in order_data['items'] %}
                                <li class="order-item">
                                    <span class="item-name">{{ item['name'] }}</span>
                                    <span class="item-articul">Артикул: {{ item['product_articul'] }}</span>
                                    <span class="item-quantity">Количество: {{ item['quantity'] }}</span>
                                    <span class="item-price">Цена: {{ item['price'] }}</span>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="order-total">
                            <span>Общая стоимость:</span>
                            <span class="total-price">{{ order_data['order']['total_price'] }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>У вас нет заказов.</p>
            {% endif %}

            <a href="{{ url_for('hello_world') }}">
                <button type="button" class="back-to-home-btn">Вернуться на главную</button>
            </a>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-content">
            <p class="copyright">PRIN - маркетплейс © марк "quadeck" аккумулятор 2025-2025.</p>
            <p class="disclaimer">Переходя сюда вы даете согласие на обработку ваших данных. Мы ценим вашу конфиденциальность.</p>
        </div>
    </footer>
</body>
</html>
