<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Адреса ПВЗ PRIN</title>
     <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
    <script type="text/javascript">
    var map;

    DG.then(function () {
        map = DG.map('map', {
            center: [54.98, 82.89],
            zoom: 13
        });
    });
</script>
</head>
<body>
<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="logo">
            <a href="/">
            <img src="/static/images/logo.png" alt="Лого">
            </a>
            </li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/pvzadresa">Адреса ПВЗ</a></li>
            <li><a href="/login">Войти</a></li>
            <li><a href="/signup">Зарегистрироваться</a></li>
        </ul>
    </nav>
</header>
<nav>
     <div id="map" style="width:500px; height:400px"></div>
         <script src="https://maps.api.2gis.ru/2.0/loader.js?pkg=full"></script>
</nav>
</body>
</html>