<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PRIN</title>
    <link rel="icon" href="/static/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<header class="header">
    <nav class="nav">
        <ul class="nav-list">
            <li class="logo">
            <a href="/">
            <img src="/static/images/logo.png" alt="Лого">
            </a>
            </li>
            <li><a href="/contacts">Контакты</a></li>
            <li><a href="/pvzadresa">Адреса ПВЗ</a></li>

            {% if 'user' in session %}
                <li><a href="/profile">Личный кабинет</a></li>
                <li><a href="/logout">Выйти</a></li>
            {% else %}
                <li><a href="/login">Войти</a></li>
                <li><a href="/signup">Зарегистрироваться</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<div class="vopros-wrapper">
    <p class="voprosacc">Для дальнейших действий нужен аккаунт<br>У вас уже есть аккаунт?</p>
    <div class="vopros-buttons">
        <a href="login">
            <button>Да</button>
        </a>
        <a href="signup">
            <button>Нет</button>
        </a>
    </div>
</div>
</body>
</html>